<footer class="d-flex justify-content-between align-items-center bg-light mt-5">
  <ul class="nav col-md-4 justify-content-end">
    <li class="nav-item">
      <a class="nav-link text-success" [routerLink]="'/'" >INICIO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-success" [routerLink]="'/monedas'">MONEDAS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-success" [routerLink]="'/conversor'">CONVERSOR</a>
    </li>
  </ul>

  <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <img src="{{ imagenLogo }}" height="150" alt="Losdeatras" loading="lazy" style="margin-top: -1px;" />
  </a>
  <div class="col-md-3">
    <img src="{{ imagenTracasa }}" height="40" loading="lazy" style="margin-top: -1px;" />
    <p class="">Summercamp</p>
  </div>

</footer>