<div class="d-flex h-100 text-center bg-light">
    <div class="cover-container d-flex w-100 h-300 p-5 mx-auto flex-column">
        <main class="px-4">
        <h1>{{pageTitle | uppercase}}</h1>
        <br>
        <img
          src={{imagenLogo}}
          height="128"
          alt="Losdeatras"
          loading="lazy"
          style="margin-top: -1px;margin-bottom: 10px;"
        />
        <br>
        <p class="lead">{{pageContent}}</p>
        <br>
        <a class= "btn btn-primary" href="#">Registrarse</a>
        </main>
    </div>
</div> 
    
