<div class="container mt-3">
    <div class="container center">
        <div class="container mt-5">
            <h1 class="display-4 text-uppercase text-center">HISTORIAL DETALLADO</h1>
            <div class="input-group mb-3 d-flex justify-content-center my-3">
                <div class="col-md-6 text-center">
                    <img src="../../assets/images/history.png" alt="Money" class="img-fluid" style="width: 30%;">
                </div>
            </div>
        </div>
             
        <div class="row align-items-start">
            <div class="col">
                <div class="card">

                    <div class="card-body shadow">
                        <h5 class="card-title text-center">MONEDA ORIGEN</h5>
                        <div class="text-center"><img
                                src="https://www.countryflagicons.com/SHINY/64/{{ moneda1.codigo.substring(0, 2)}}.png"
                                alt="Bandera Moneda Destino"></div>
                        <p class="card-text"><b>Nombre de la moneda:</b> {{moneda1.nombre}}</p>
                        <p class="card-text"><b>Valor actual en dólares estadounidenses:</b> {{moneda1.factor}}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body shadow">
                        <h5 class="card-title text-center">MONEDA DESTINO</h5>
                        <div class="text-center"><img
                                src="https://www.countryflagicons.com/SHINY/64/{{ moneda2.codigo.substring(0, 2)}}.png"
                                alt="Bandera Moneda Destino"></div>
                        <p class="card-text"><b>Nombre de la moneda:</b> {{moneda2.nombre}}</p>
                        <p class="card-text"><b>Valor actual en dólares estadounidenses:</b> {{moneda2.factor}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container center">
        <div class="row align-items-center">
            <div class="col">
                <div class="card">
                    <div class="card-body shadow">
                        <h5 class="card-title text-center">DATOS DE LA CONVERSIÓN</h5>
                        <p class="card-text"><b>Cantidad:</b> {{historial.cantidad}} {{moneda1.codigo}}</p>
                        <p class="card-text"><b>Resultado:</b> {{historial.resultadoConversion}}</p>
                        <p class="card-text"><b>Fecha y hora de la conversión:</b> {{historial.fechaConversion |
                            date:'HH:mm dd-MM-yyyy zzz' }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="d-flex justify-content-end">
            <a class="btn btn-outline-success shadow" (click)="onBack()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"/>
              </svg>ATRÁS</a>
        </div>
    </div>
</div>